* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #e1e2e36b;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin-top: 120px;
  margin-bottom: auto;
}

.title {
  display: flex;
  width: 60%;
  justify-content: center;
  margin-bottom: 20px;
}

.title p {
  font-size: 16px;
  font-weight: 500;
}

.to-do-task {
  display: flex;
  width: 60%;
  justify-content: space-between;
  background-color: #fff;
  font-size: 14px;
}

#to-do-input {
  width: 80%;
  padding: 12px;
  border: none;
  border-bottom: 1px solid lightgray;
}

#addBtn {
  width: 20%;
  background: orangered;
  color: #fff;
  cursor: pointer;
}

#addBtn:hover {
  background-color: lightcoral;
}

.to-do-list {
  background: #fff;
  list-style: none;
  width: 60%;
}

.another-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0%;
  border: none;
  border-bottom: 1px solid lightgray;
  overflow-x: hidden;
  width: 100%;
}

.checkbox {
  margin-right: 12px;
  width: 5%;
}

.description {
  text-align: left;
  width: 80%;
}

.delete-btn {
  padding: 6px;
  width: 15%;
  cursor: pointer;
}

.delete-btn:hover {
  background: #fff;
}

.list-item {
  display: flex;
}

.list-item > input {
  padding: 12px;
  width: 100%;
  border: none;
  border-bottom: 2px solid lightgray;
}

.to-do-item-list > .checkbox {
  margin-right: 10px;
}

.clear-completed {
  padding: 0.8em;
  color: black;
  text-align: center;
  background-color: #e1e2e36b;
  width: 60%;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #fff;
}

.strike-through {
  text-decoration: line-through;
  color: #808080;
}

.display-none {
  display: none;
}
